
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
@import url('scroll.css');

html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}


:root {
    --crimson: crimson;
    --scroll-background: #000;
    --scroll-foreground: orangered;
    --scroll-background-over: purple;
    --scroll-border-radius: 10px;
    --scroll-size: 15px;
}

body {
    background-image: url('../img/CarlosMoheno_Movimiento.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Ga Maamli', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.5em;
    text-align: center;
    text-decoration: solid;
    color: orangered;
}

h1 {
    color: purple;
    font-size: 40px;
}

@media (min-width: 768px) {   
    body {
        font-size: 16px;
    }
}


@media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
}


/* links */
a {
    color: crimson;
    padding: .2em;
}


a:hover {
    background-color: purple;
    color: orangered;
}




